$corNav: #00050D;
$corButtonNav: #1A98FFCC;
$corPadrao: #FFFFFF;
$corBackground: #00050daa;
$corTextSmallH3: #37f1a3;
$corButtonRadius: 0.75em;
$corButtonColor: #1A98FFCC;
$corButtonOutlineColor: #ffffff;
$corHeroTextLinks: #2c6da2cc;
$corlifooterlinks: #79B8F3;
$corlifooterlinksHover: #b4dbff;
$corlifooterp: #8197A4;
$navbar-color: #00050D;